<!-- Footer -->
<footer id="footer">
  <div class="container d-flex justify-content-center py-4">
    <div class="text-center">
      <div class="copyright">
        &copy; Copyright <strong><span>Lumia</span></strong
        >. All Rights Reserved
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
