<div class="container py-5">
  <p><a href="/renungan">kembali</a></p>
  <div class="detail-card row d-flex flex-column align-items-center">
    <div class="col-12 col-lg-10">
      <h1 class="mb-4 text-center py-2"><%= berita.judul %></h1>
      <h6 class="text-muted"><%=berita.tanggal %></h6>
      <p class="pt-5"><%= berita.isi %></p>
    </div>
  </div>
</div>
