<!-- Hero Section -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>GMIM</h1>
    <h2>Gereja Masehi Injili Di Minahasa</h2>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- GMIM Section -->
  <br /><br />
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Gereja Masehi Injili di Minahasa</h3>
          <span>Gereja yang kudus </span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End GMIM Section -->

  <!-- Visi Section -->
  <section id="what-we-do" class="what-we-do">
    <div class="container">
      <div class="section-title">
        <h2>Visi</h2>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
      </div>
      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>VISI</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul>
        </div>
        <div class="col-lg-6">
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </section>
  <!-- End Visi Section -->

  <!-- Misi Section -->
  <section id="what-we-do" class="what-we-do">
    <div class="container">
      <div class="section-title">
        <h2>MISI</h2>
        <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/about.jpg" class="img-fluid" alt="" />
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>About Us</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <ul>
            <li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            <li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Misi Section -->
</main>
