<div class="contents">
    <div class="description">
      <h2>Tambah Berita</h2>
      <form action="/berita/add" method="POST">
        <div>
          <label for="judul">Judul:</label>
          <input type="text" id="judul" name="judul" required />
        </div>
        <div>
          <label for="isi">Isi:</label>
          <textarea id="isi" name="isi"></textarea>
        </div>
        <div>
          <label for="tanggal">Tanggal:</label>
          <input type="date" id="tanggal" name="tanggal" required />
        </div>
        <button type="submit" class="btn submit-btn">Submit</button>
      </form>
    </div>
  </div>
  