<div class="contents">
  <div class="description">
    <h2>Tambah Pengeluaran</h2>
    <form action="/pengeluaran/add" method="POST" enctype="multipart/form-data">
      <div>
        <label for="kolom">Kolom:</label>
        <select name="kolom" id="kolom">
            <!-- looping data kolom -->
          <% kolomData.forEach(kolom => { %>
          <option value="<%= kolom.name %>"><%= kolom.name %></option>
          <% }) %>
        </select>
      </div>
      <div>
        <label for="nominal">Nominal:</label>
        <input type="text" id="nominal" name="nominal" required />
      </div>
      <div>
        <label for="kategori">Kategori:</label>
        <select name="kategori" id="kategori">
            <!-- looping data kategori -->
          <% kategoriData.filter(kategori => kategori.type === 'Pengeluaran').forEach(kategori => { %>
          <option value="<%= kategori.name %>"><%= kategori.name %></option>
          <% }) %>
        </select>
      </div>
      <div>
        <label for="bukti_transaksi">Bukti Transaksi:</label>
        <div class="bukti-group">
          <input type="text" id="bukti_transaksi_display" placeholder="No file chosen" readonly />
          <input type="file" id="bukti_transaksi" name="bukti_transaksi" style="display: none" />
          <button type="button" class="btn" onclick="document.getElementById('bukti_transaksi').click();">Choose File</button>
        </div>
      </div>
      <div>
        <label for="keterangan">Keterangan:</label>
        <textarea id="keterangan" name="keterangan"></textarea>
      </div>
      <button class="btn" type="submit">Submit</button>
    </form>
  </div>
</div>

<!-- handle tampilan input file sesuai dengan file yang dipilih -->
<script>
  document.getElementById("bukti_transaksi").addEventListener("change", function () {
    var fileName = this.files[0] ? this.files[0].name : "No file chosen";
    document.getElementById("bukti_transaksi_display").value = fileName;
  });
</script>
