<div class="contents">
  <div class="description">
    <div class="content-container add-kolom">
      <h2>Tambah Kolom</h2>
      <form action="/kolom/add" method="POST">
        <div class="form-group">
          <label for="name">Kolom Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <button type="submit" class="btn submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
